
.myNavbar{
  background-color: rgba(0,0,0,.1);
}

.myNavbar span.logo{
  background-color: rgba(0,0,0,.2);
  position: absolute;
  display: inline-block;
  top:0;
  bottom: 0;
  left: 0;
  padding: 0 2em;
  color:#fff;
  line-height: 3.5em;
  border-right:2px solid #194c82;
}


.navbar-header .menu{
  cursor: pointer;
  position: absolute;
  display: inline-block;
  right:0;
  bottom:0;
  top:0;
  background-color:#fff;
  padding: 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.2);
  color:#fff;
}

